<div class="center jumbotron">
    <h2>
      Private event is a really cool app
    </h2>

    <% if session[:user_id] %>
      <span>Welcome <%= current_user.username %></span>
    <% else %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
